allow wcnss_service shell_exec:file { r_file_perms execute execute_no_trans };
allow wcnss_service toolbox_exec:file { r_file_perms execute execute_no_trans };
allow wcnss_service wcnss_service:capability { net_raw dac_override setgid setgid };
